@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#main {
    margin: 2.5vw auto;
    /* background-color: #E3E8ED; */
    width: 60vw;
}

* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C3CFD9;
}

.header {
    /* border: 2px solid red; */
    background-color: #151515;
    position: fixed;
    margin-top: -6vw;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    box-sizing: border-box;
    overflow: hidden;
}

.header #logo {
    width: 13vw;
    height: 4vw;
}

.contentBox {
    margin-top: 7vw;
    margin-bottom: 1.3vw;
    background-image: url("https://drive.google.com/file/d/11FPPnkvxdM4F89yZ4b3sNI3D31acuiAi/view?usp=sharing");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 05vw;
    background-color: #E3E8ED;

    box-sizing: border-box;
    justify-content: center;
    height: 14vw;
    color: white;
}

.contentBox #head {
    font-size: 3.0vw;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

#text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    padding-left: 3px;

}

/* Resources Section Styling */
.resourceBox {
    /* margin-top: 10vh; */
    font-family: 'Roboto', sans-serif;
    padding: 2vw 2vw;
    display: flex;
    margin: 1.3vw auto 0vh auto;
    flex-direction: column;
    row-gap: 1vw;
    background-color: #E3E8ED;

    border: 2px solid #9EADBA;

}

.resourceHead {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    padding: 1vw 1vw;
}

.resourceHead h3 {
    font-size: 1.9vmax;
}

.resourceItem {
    /* border: 2px solid green; */
    padding: 1vw 1vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */


}

.left {
    border: 2px solid #9EADBA;

    width: 148px;
    height: 172px;
    margin-right: 3vw;
    border-radius: 2px;
    object-fit: contain;
}

.left img {
    width: 144px;
    height: 168px;
}

.right {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 30vh;
    font-size: 1.3vmax;
}

/* .upper {} */

#downloadBtn {
    border: none;
    background-color: #E3E8ED;
    color: #FE7A36;
    cursor: pointer;
    font-size:16px;
    /* padding: 2px 1px; */
    border-bottom: 2px solid #e99c75;

}


/* expand section */
.expandOption {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vmax;
    height: 10vh;
    color: #82909E;
    cursor: pointer;
    background-color: #C3CFD9;
    column-gap: 1vw;
    align-items: center;
}

#expandIcon {
    font-weight: 900;
    font-size: 100px;
    color: #82909E;
    font-size: 30px;
}

/* Footer Styling */
.footer {
    /* width: 100vw; */
    /* margin-top: 2vw; */
    height: 15vh;
    display: flex;
    padding: 1vw 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #E3E8ED;

    font-size: 1rem;
    border: 2px solid #9EADBA;
    color: #82909E;
    box-sizing: content-box;
    /* border: 2px solid red; */
}

/* Event Section Styling */
.eventBox {
    border: 2px solid #9EADBA;
    padding: 2vw 2vw;
    /* background-color: #FE7A36; */
    display: flex;
    background-color: #E3E8ED;

    height: 35vw;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;

}


.eventHead {
    font-family: 'Roboto', sans-serif;
    margin: 1.1vw 0;
}

.eventHead h3 {
    color: #46545F;
    font-size: 1.9vmax;
    /* min-height: 1.5vw; */
}
.eventHead p{
    font-size: 1.3vmax;
}

.card {
    font-family: 'Roboto', sans-serif;
    height: 25vw;
    /* background-color: #82909E; */
    column-gap: 1vw;
    width: 55vw;
    padding: 1.2vw 1.2vw;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #9EADBA;
}

.cardLeft {
    /* width: 40vw;  */
     /* height: 60vh; */
}

.cardRight {
    /* border:2px solid yellow; */
    height: 18vw;
    width: 28vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    /* height: 60vh; */
}

.cardLeft img {
    width: 28vw;
    height: 20vw;
}

.cardRight .upper h2 {
    text-transform: uppercase;
    color: #46545F;
    font-size: 1.5vmax;
}

#joinBtn {
    border: none;
    background-color: #E3E8ED;
    width: 8vw;
    font-size: 1.4vmax;
    color: #FE7A36;
    width: 100%;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #e99c75;
    text-decoration-thickness: 2px;
    /* border-bottom: 2px solid #e79065; */
}

#joinBtn  {
    font-size: 1.4vmax;
   
    color: #FE7A36;

}

.middle p {
    line-height: 2vw;
    font-size: 1.3vmax;
}

/* Utility Class */
.colorAzeeb {
    color: #293845;
}

.space {
    margin-bottom: 5px;
}

#downloadBtn a
{
text-decoration: none;
color:#FE7A36;
font-size: 1.5vmax;
}


/* responsive */

@media only screen  and (max-width:500px) {
    .resourceItem{
        display: flex;
        /* border: 2px solid red; */
        flex-direction: column;
        padding: 0vw 3vw;
    }
    .resourceItem .left{
        padding: 0vw 0vw;
    }
    .resourceItem .right{
        /* border: 2px solid green; */
        /* padding: 1vw 3vw; */
        height: 20vh;
        
    }
    .resourceHead h3{
        font-size: 3.4vw;
    }
    .resourceHead p{
        font-size: 3.1vw;
    }
    
    .right .upper h3 {
        font-size: 3.3vw;
    }
    .right .upper p {
        font-size: 3.1vw;
    }
    .downloadBtn {
        font-size: 3.1vw;
    }
    .lower p{
        font-size: 3.1vw;
    }

    .eventBox{
        /* border:2px solid red; */
    }
    .eventHead h3{
        font-size: 3.4vw;
    }
    .eventHead p{
        font-size: 2.6vw;
    }
    .card{
        width:100vw;
        padding-top:10px;
        padding-bottom: 10px;
        height: 40vh;
        /* border: 2px solid gold; */
    }
    .cardLeft img{
        width: 25vw;
        height: 17vw;
        padding-bottom: 4px;
    }
.cardRight {
    /* border: 2px solid green; */
}
.cardRight .upper h2{
font-size: 2.1vw;
}
#joinBtn{
    font-size: 2.1vw;
}
.cardRight .middle p{
    font-size: 2.1vw;
}
.footer{
    height: 5vh;
    font-size: 2.1vw;
}
.expandOption {
    height: 3vh;
    /* border: 2px solid red; */
}
#expandIcon{
    width: 2vw; 
    margin-right: 20px;
}
.fontSet{
    font-size: 3.1vw;
}
.left{
    border: none;
    height: 138px;
    margin-top: 5px;
}
.left img{
    width: 114px;
    height: 138px;
}

}